<%= render partial: 'issue_area', object: @issue_area %>

<h1 class='page-header'><%= @issue_area.title %></h1>

<div class="row">
  <div class="col-xs-12">
    <% if @issue_area.has_indicators? %>
      <%= render partial: 'indicators/indicator', collection: @issue_area.indicators %>
    <% else %>
      <p>
        There are not presently any <%= @issue_area.title.downcase %>-related indicators.
      </p>
    <% end %>

    <p>
      View <%= @issue_area.title.downcase %> maps and download related datasets at the
      <%= link_to 'MetroBoston DataCommon', @issue_area.datacommon_url, target: '_blank' %>.
    </p>

  </div>
</div>