<div class="visualization" id="<%= explainable_type %>-<%= explainable_id %>">
  <h4>
    <%= viz.title %>
  </h4>
</div>
<%= javascript_tag do %>
  window.explainable = "#<%= explainable_type %>-<%= explainable_id %>"
<% end %>
<%= javascript_include_tag( viz.d3.url ) %>