<div class="col-md-4 <%= featured.slug %> featured">
  <h1><%= featured.title %></h1>
  
  <h3><%= featured.subtitle %></h3>
  
  <p>
    <%= link_to 'Read more',
                 topic_area_path(featured),
                 class: "btn btn-primary btn-lg btn-featured",
                 role: "button" %>
  </p>
  <div class="icons <%= featured.slug %>"></div>
</div>