<div class="col-md-4">
<<<<<<< HEAD
	<h1><%= featured.title %></h1>
	
	<h3><%= featured.subtitle %></h3>
	
	<p>
	  <%= link_to 'Read more', topic_area_path(featured), class: "btn btn-primary btn-lg", role: "button" %>
	</p>
=======
  <h1><%= featured.title %></h1>
  
  <h3><%= featured.subtitle %></h3>
  
  <p>
    <%= link_to 'Read more',
                 topic_area_path(featured),
                 class: "btn btn-primary btn-lg",
                 role: "button" %>
  </p>
>>>>>>> c9f1e33bc48603cc388f9ead4249758532f21318
</div>