<h3 class="<%= topic_area_slug %> <%= subject_slug %>" id="<%= indicator.slug %>"><%= indicator.title %></h3>

<button type="button" class="alert alert-success <%= indicator.slug %> value">
  <span class="glyphicon glyphicon-thumbs-up"></span> Value:
  <%= indicator.value %>
</button>

<button type="button" class="alert alert-success <%= indicator.slug %> delta">
  <span class="glyphicon glyphicon-thumbs-up"></span> Change since 2000:
  
</button>

<button type="button" class="alert alert-danger <%= indicator.slug %> rank">
  <span class="glyphicon glyphicon-thumbs-down"></span> Rank:
  <%= indicator.rank %>
</button>

<% if indicator.explanation %>
  <%= render partial: 'explanation', locals: { explanation: indicator.explanation } %>
<% end %>