<% if indicator.grouped? %>
  
  <% if indicator.first_in_group? %>
    <h3 class="<%= topic_area_slug %> <%= subject_slug %> scroll-target" id="<%= indicator.group_slug %>">
      <%= indicator.group_title %>
    </h3>
  <% end %>

  <h4 id="<%= indicator.slug %>" class="<%= indicator.slug %> group-subtitle scroll-target">
    <%= indicator.title %>
  </h4>

  <%= render partial: 'topic_areas/status', locals: { indicator: indicator } %>    

  <% if indicator.explanation %>
    <%= render partial: 'explanation', locals: { explanation: indicator.explanation } %>
  <% end %>

<% else %>

  <h3 class="<%= topic_area_slug %> <%= subject_slug %> scroll-target" id="<%= indicator.slug %>">
    <%= indicator.title %>
  </h3>

  <%= render partial: 'topic_areas/status', locals: { indicator: indicator } %>

  <% if indicator.explanation %>
    <%= render partial: 'explanation', locals: { explanation: indicator.explanation } %>
  <% end %>

<% end %>