<h3 class="<%= topic_area_slug %> <%= subject_slug %>" id="<%= indicator.slug %>"><%= indicator.title %></h3>

<%= render partial: 'topic_areas/status', locals: { indicator: indicator } %>

<% if indicator.explanation %>
  <%= render partial: 'explanation', locals: { explanation: indicator.explanation } %>
<% end %>