<h3 class="<%= topic_area_slug %> <%= subject_slug %>" id="<%= indicator.slug %>"><%= indicator.title %></h3>

<button type="button" class="alert <%= alert_class_for(indicator.value) %> <%= indicator.slug %> value">
  <%= thumb_for(indicator.value) %> Value:
  <%= indicator.value %>
</button>

<button type="button" class="alert <%= alert_class_for(indicator.value) %> <%= indicator.slug %> delta">
  <%= thumb_for(indicator.value) %> Change since 2000:
  <%= indicator.value %> (just the value presently)
</button>

<% if indicator.rank? %>
  <button type="button" class="alert <%= alert_class_for(indicator.current_rank) %> <%= indicator.slug %> rank">
    <%= thumb_for(indicator.rank) %> Rank:
      <%= indicator.rank %>
  </button>
<% end %>

<% if indicator.explanation %>
  <%= render partial: 'explanation', locals: { explanation: indicator.explanation } %>
<% end %>