<h2 class="<%= subject.slug %>" id="<%= subject.slug %>">
  <%= subject.title %>
</h2>

<% if subject.explanation %>
  <%= render partial: 'explanation',
             locals: { explanation: subject.explanation } %>
<% end %>    

<%= render partial:   'indicator',
           collection: subject.indicators %>