<div class="scroll-target dummy-scroll" id="<%= subject.slug %>">
</div>
<div class="sticky-title row">
  <h2 class="<%= topic_area_slug %> <%= subject.slug %>">
    <%= subject.title %>
  </h2>
</div>
<% if subject.explanation %>
  <%= render partial: 'explanation',
             locals: { explanation: subject.explanation } %>
<% end %>    

<%= render partial:   'indicator',
           collection: subject.indicators,
           locals:   { subject_slug:    subject.slug,
                       topic_area_slug: topic_area_slug } %>
