<h2 class="<%= subject.slug %>" id="<%= subject.slug %>">
  <%= subject.title %>
</h2>

<%= render partial: 'explanation', 
           locals: { explanation: subject.explanation} %>

<%= render partial:   'indicator',
           collection: subject.indicators %>