<% content_for :jumbotron do %>
  <div class="jumbotron">
    <div class="container">
      <% if @topic_areas[:featured].length > 0 %>
        <%= render partial: 'featured', collection: @topic_areas[:featured] %>
      <% else %>
        <%= render partial: 'featured', locals: { featured: @topic_areas[:not_featured].shift } %>
      <% end %>

      <div class="col-md-3 col-md-offset-1">
        <h1>State of Equity</h1>
        
        <h3>Tracking progress towards an equitable region</h3>
        
        <p>
          <%= link_to 'Go to site',
                       'http://regionalindicators.org',
                       class: "btn btn-primary btn-lg",
                       role: "button" %>
        </p>
      </div>

    </div>
  </div>
<% end %>


<div class="container">
  <div class="row">
    <%= render partial: 'topic_area', collection: @topic_areas[:not_featured] %>
  </div>

  <div class="row" id="framing">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
      <%= framing_text %>
    </div>
  </div>
</div>

