<h1 class="page-header <%= @topic_area.slug %>" id="<%= @topic_area.slug %>">
  <%= @topic_area.title %>
</h1>
  
<div class="col-md-9">
  <%= render partial: 'subject',
             collection: @topic_area.subjects,
             locals: { topic_area_slug: @topic_area.slug } %>
</div>

<!-- SIDENAV -->

<div class="col-md-3 myscrollspy">
  <div class="bs-sidebar hidden-print affix">
    <ul class="nav bs-sidenav">
      <%= render partial: 'scrollspy/subject', collection: @topic_area.subjects %>
    </ul>
  </div>
</div>


<%= @snippet %>