(<%= @indicator.number %>)
<h1 class="page-header"><%= @indicator.title %></h1>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= @indicator.value %> <%= @indicator.units %>
    </div>
    <div class="col-md-2">
      placeholder: delta
    </div>
    <div class="col-md-2">
      <%= @indicator.rank %>
    </div>

  </div>

  <% if @indicator.explanation %>
    <div class="row">
      <div class="col-md-12">
        <%= @indicator.explanation.narrative_html %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= render partial: 'source', collection: @indicator.explanation.sources %>
      </div>
    </div>
  <% end %>

</div>