<!DOCTYPE html>
<html>
<head>
  <title>Regionalindicators</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
</head>
<body>

<%= render 'layouts/header' %>

<div class="container">
  
  <div class="row">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>

  <div class="row">
    <%= yield %>
  </div>
  
  <%= render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development? %>

</div>

</body>
</html>
