<!DOCTYPE html>
<html>
<head>
  <title>Regional Indicators</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body data-spy="scroll" data-offset="300" data-target=".myscrollspy">

<%= yield :jumbotron %>

<div class="container">
  <div class="row">
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash' %>
  </div>

  <div class="row">
    <%= yield %>
  </div>
  <%= debug(params) if Rails.env.development? %>
</div>

<%= render 'layouts/footer' %>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5547782-20']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>